.highScoresMenu {
    text-align: left;
}

.highScoresMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.highScoresMenu li {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0.25rem;
    display: inline-block;
}

.highScoreButtons {
    padding-bottom: 0.5rem;
}

table td {
    padding-right: 0.5rem;
}
