h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
}

.menu {
    background-color: rgb(135, 206, 235);
}

.menuButton {
    border: none;
    background-color: transparent;
    border-color: 0;
    font-size: large;
}

.menuButton:hover:enabled {
    text-decoration: underline;
    cursor: pointer;
}
